# option definitions common to all supported networks...
option domain-name "{{ domain_name }}";
option domain-name-servers {{ domain_name_servers }};

default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};

# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
#ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

# failover configuration
failover peer "dhcp-failover" {
    primary;
    address {{ master_address }};
    port {{ port }};
    peer address {{ slave_address }};
    peer port {{ port }};
    max-response-delay {{ max_response_delay }};
    max-unacked-updates {{ max_unacked_updates }};
    # Maximum Client Lead Time, master only
    mclt {{ mclt }};
    # master only
    split {{ split }};
    load balance max seconds {{ load_balance_max_seconds }};
}

# Subnet declaration
subnet {{ subnet }}  netmask {{ netmask }} {
  option domain-name-servers {{ domain_name_servers }};
  option domain-name "{{ domain_name }}";
  option routers {{ routers }};
  option broadcast-address {{ broadcast_address }};

  pool {
    failover peer "dhcp-failover";
    range {{ range_start }} {{ range_end }};
  }
}

# OMAPI configuration
omapi-port {{ omapi_port }};

key omapi_key {
    algorithm {{ omapi_algorithm }};
    secret "{{ omapi_secret }}";
};

omapi-key omapi_key;

